<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Places
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Mount_Everest_as_seen_from_Drukair2_PLW_edit_Cropped.jpg/960px-Mount_Everest_as_seen_from_Drukair2_PLW_edit_Cropped.jpg" />
    <ion-card-header>
      <ion-card-title>Mount Everest</ion-card-title>
      <ion-card-subtitle>Tibet Range</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Mount Everest, known locally as Sagarmatha in Nepal and Qomolangma in Tibet, is Earth's highest
      mountain above sea level.
    </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains"
        src="https://static.toiimg.com/thumb/msid-55310626,width-748,height-499,resizemode=4,imgsize-175052/.jpg" />
      <ion-card-header>
        <ion-card-title>Morjim Beach</ion-card-title>
        <ion-card-subtitle>Goa</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        The calm ambiance of Morjim Beach is going to sooth all your travel fatigue. Take a stroll for unsurpassed beauty and
        calm that only a few beaches in Goa offer even in the peak of winters.
      </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="Silhouette of mountains"
          src="https://s7ap1.scene7.com/is/image/incredibleindia/vidhana-soudha-bangalore-karnataka-hero?qlt=82&ts=1742199603184" />
        <ion-card-header>
          <ion-card-title>Visvesvaraya Industrial and Technological Museum</ion-card-title>
          <ion-card-subtitle>Karnataka High Court</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Bengaluru's stalwarts of science, governance, and judiciary
        </ion-card-content>
        </ion-card>
</ion-content>